@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 50px;
  background: whitesmoke;
}
img {
  height: 80px;
}
.hero-bg {
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background-color: #3e8e41;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .productsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.btn {
  border: none;
  outline: none;
  background: #4caf50;
  padding: 12px 25px;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.heading {
  padding: 25px 0;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.137);
}
